@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{text-decoration: none;}
a:hover { text-decoration: none;}
.clear{ clear:both;}


/*    大大付款主页       */
.all{ width:100%; background:url(../images/index.jpg) no-repeat;background-size: 100% 100%;-moz-background-size:100% 100%;  margin:auto; position:relative;}
.all .t1{ width:100%; margin:auto; height:28px; background:#3d3d3d;}
.all .t1 .top1{width:1200px; margin:auto; height:28px;}
.all .t1 .top1 .left{ float:left;}
.all .t1 .top1 .left span{font: 500 12px 微软雅黑; line-height:28px; margin-right:20px;}
.all .t1 .top1 .left span a{color:#b9b5ae;}
.all .t1 .top1 .right{float:right;}
.all .t1 .top1 .right span{font: 500 12px 微软雅黑; line-height:28px; margin-left:20px; color:#b9b5ae;}
.all .t1 .top1 .right span a{color:#b9b5ae;}
.all .t2{width:100%;height:80px; border-bottom:1px solid #dadada;background:#ffffff;filter:alpha(opacity=75); -moz-opacity:0.75; opacity:0.75;}
.all .top2{width:1200px; height:80px; margin:auto; }
.all .top2 .logo{float:left; margin-top:11px;}
.all .top2 .nav{float:right;margin-top:30px;}
.all .top2 .nav a{font:500 14px 微软雅黑; color:#000000; margin-left:36px; padding-bottom:20px;}
.all .tbs {width:1200px; margin:auto; height:500px; position:relative;}
.all .tbs .register{ position:absolute; top:273px;left:350px; width:233px; height:40px; background:#15b6b4;border:1px solid #15b6b4;border-radius: 6px 6px 6px 6px;}
.all .tbs .register a{ display:block; width:235px; height:40px; font:500 14px 微软雅黑; text-align:center; line-height:40px; color:#ffffff;}
.all .tbs .login{ position:absolute; top:273px;left:614px; width:233px; height:40px; background:#15b6b4;border:1px solid #15b6b4;border-radius: 6px 6px 6px 6px;}
.all .tbs .login a{ display:block; width:235px; height:40px; font:500 14px 微软雅黑; text-align:center; line-height:40px; color:#ffffff;}
.all .bottom{ width:100%; height:90px; background:#000000;filter:alpha(opacity=95); -moz-opacity:0.95; opacity:0.95; position:absolute; bottom:0;}
.all .bottom p{font:500 12px 微软雅黑; color:#999999; line-height:90px; text-align:center;}
.theme-popover {z-index:9999;position:fixed;top:40%;left:60%;width:285px;height:335px;margin:-180px 0 0 -330px;background-color:#fff;display:none;box-shadow: 0 0 10px #666;}
.theme-poptit .close {float:right;color:#999;padding:16px;margin:-2px 1px -5px;font:bold 20px/20px simsun;text-shadow:0 1px 0 #ddd}
.theme-poptit .close:hover {color:#444;}
.theme-popover-mask {z-index: 9998;position:fixed;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.4;filter:alpha(opacity=40);-moz-opacity:0.4;  -khtml-opacity: 0.4; display:none;}
.detail .title{ font:500 16px 微软雅黑; color:#15b6b4; width:276px; margin:auto; height:43px; line-height:43px; border-bottom:1px solid #c4c4c4;}
.detail .title span{margin-left:21px;}
.detail form .zh{ width:208px; height:35px; margin-left:25px; margin-top:20px;font:500 14px 微软雅黑; color:#8b8b8b; line-height:35px; padding-left:10px;border:1px solid #c4c4c4;}
.detail form .mm{width:208px; height:35px; margin-left:25px; margin-top:16px;font:500 14px 微软雅黑; color:#8b8b8b; padding-left:10px; line-height:35px;border:1px solid #c4c4c4;}
.detail form .yz{width:131px; height:35px; margin-left:25px; margin-top:16px;font:500 14px 微软雅黑; color:#8b8b8b; padding-left:10px; line-height:35px;border:1px solid #c4c4c4;}
.detail form .wj{ width:110px; height:34px;margin-left:143px;}
.detail form .wj a{font:500 12px 微软雅黑; color:#010101; line-height:34px; }
.detail form .dl{ width:222px; height:41px; border:0; background:#15b6b4;font:500 16px 微软雅黑; color:#ffffff; margin-left:25px; margin-top:15px;border-radius: 6px 6px 6px 6px;}
.detail form .img{position:absolute;top:174px;left:176px;}

/*    找回密码       */
.entirety{ width:100%; margin:auto; }
.entirety .t1{ width:100%; margin:auto; height:28px; background:#3d3d3d;}
.entirety .t1 .top1{width:1200px; margin:auto; height:28px;}
.entirety .t1 .top1 .left{ float:left;}
.entirety .t1 .top1 .left span{font: 500 12px 微软雅黑; line-height:28px; margin-right:20px; color:#999999;}
.entirety .t1 .top1 .left span a{color:#b9b5ae;}
.entirety .t1 .top1 .right{float:right;}
.entirety .t1 .top1 .right span{font: 500 12px 微软雅黑; line-height:28px; margin-left:20px; color:#b9b5ae;}
.entirety .t1 .top1 .right span a{color:#b9b5ae;}
.entirety .t2{width:100%;height:80px; border-bottom:1px solid #dadada;background:#ffffff;filter:alpha(opacity=75); -moz-opacity:0.75; opacity:0.75;}
.entirety .top2{width:1200px; height:80px; margin:auto; }
.entirety .top2 .logo{float:left; margin-top:11px;}
.entirety .top2 .bt{width:161px; float:left; font:300 24px 微软雅黑; color:#999999; line-height:80px; margin-left:10px;}
.entirety .top2 .bt b{font-size:25px; font-weight:100; margin-right:10px;}
.entirety .bz{width:1200px; height:75px; text-align:center; margin:auto; padding-top:25px; }
.entirety .bz .img{ width:863px; height:51px; margin:auto; background:url(../images/tb.png) no-repeat;}
.entirety .bd{ width:1198px; height:360px; border:1px solid #dadada; margin:auto; margin-top:15px; background:#ffffff; position:relative;}
.entirety .bd form{margin-top:90px; position:relative;}
.entirety .bd form b{font:500 12px 微软雅黑; color:#999999;}
.entirety .bd form .zh{position:absolute; left:786px;top:12px; }
.entirety .bd form .tt{position:absolute; left:786px;top:85px; }
.entirety .bd .service_l {width:933px;font: 500 14px 微软雅黑;color: #010101;margin: 30px 0;text-align: right;}
.entirety .bd .service_l input {width: 225px;height: 37px; line-height:37px;border: 1px solid #ccc;margin-left: 20px;font-size: 14px;color: #010101;margin-right: 185px;padding-left: 10px;}
.entirety .bd .service_x {font: 500 14px 微软雅黑;color: #010101;margin:30px 0;padding-left:449px; position:relative;}
.entirety .bd .service_x input {width: 156px;height: 37px; line-height:37px;border: 1px solid #ccc;margin-left: 20px;font-size: 14px;color: #010101;padding-left: 10px;}
.entirety .bd .service_x img{position:absolute; top:0;left:684px;}
.entirety .bd .service_b { padding-left:511px;}
.entirety .bd .service_b input {width: 110px;height: 40px;font:500 16px 微软雅黑;color: #fff;border: 0;cursor: pointer;background:#15b6b4;border-radius: 5px 5px 5px 5px;}
.entirety .bottom { width:100%;background:#f3f3f3;height:110px;margin-top:128px; border-top:2px solid #dadada;}
.entirety .bottom .bq{ width:1200px; height:110px; margin:auto; text-align:center; font:500 12px 微软雅黑; color:#7c7c7c;line-height:110px; }

/*    找回密码2        */
.entirety .bc{ width:1198px; height:483px; border:1px solid #dadada; margin:auto; margin-top:15px; background:#ffffff; position:relative;}
.entirety .bc form{margin-top:90px; position:relative;}
.entirety .bc form b{font:500 12px 微软雅黑; color:#999999;}
.entirety .bc form .ts{position:absolute; left:786px;top:63px; }
.entirety .bc form .xm{position:absolute; left:786px;top:133px; }
.entirety .bc form .gs{position:absolute; left:786px;top:203px; }
.entirety .bc .service_l {width:933px;font: 500 14px 微软雅黑;color: #010101;margin: 8px 0;text-align: right;}
.entirety .bc .service_l input {width: 225px;height: 37px; line-height:37px;border: 1px solid #ccc;margin-left: 20px;font-size: 14px;color: #010101;margin-right: 185px;padding-left: 10px;}
.entirety .bc .service_x {font: 500 14px 微软雅黑;color: #010101;margin:30px 0;padding-left:422px; position:relative;}
.entirety .bc .service_x input {width: 110px;height: 37px; line-height:37px;border: 1px solid #ccc;margin-left: 20px;font-size: 14px;color: #010101;padding-left: 10px;}
.entirety .bc .service_x img{position:absolute; top:0;left:684px;}
.entirety .bc .service_b { padding-left:511px;}
.entirety .bc .service_b input {width: 110px;height: 40px;font:500 16px 微软雅黑;color: #fff;border: 0;cursor: pointer;background:#15b6b4;border-radius: 5px 5px 5px 5px;}
.entirety .bc .service_p{ font: 500 14px 微软雅黑;color: #010101;margin: 17px 0; padding-left:435px;}
.entirety .bc .service_p span{margin-right:20px;}
.entirety .bc .service_x .select{ position:absolute; left:492px; width:93px; height:40px;filter:alpha(opacity=100); -moz-opacity:0.01; opacity:0.01;}
.entirety .bc .service_x .fj{margin-left:10px;}
.entirety .bc .service_x a {margin-left: 10px;padding: 0;width: 105px;height: 41px;background: #f2f2f2;font:500 14px 微软雅黑;margin-top: 0;text-align: center;line-height: 41px;color: #999999;text-decoration: none;display: inline-block;}

/*    找回密码3        */
.entirety .bd .service_p{ font: 500 14px 微软雅黑;color: #010101;margin: 30px 0; padding-left:435px;}
.entirety .bd .service_p span{margin-right:20px;}
.entirety .bd form .mm{position:absolute; left:786px;top:60px; }
.entirety .bd form .mms{position:absolute; left:786px;top:133px; }

/*     找回密码4 成功         */
.entirety .bd .tb{width:64px; height:54px; float:left; margin-left:493px; margin-top:58px; background:url(../images/tb.png) no-repeat;}
.entirety .bd .ts{float:left; margin-left:15px; margin-top:67px;}
.entirety .bd .ts dl dt{ font:600 16px 微软雅黑; color:#4bc83f; padding-bottom:8px;}
.entirety .bd .ts dl dd{font:500 12px 微软雅黑; color:#999999;}
.entirety .bd .ts dl dd a{color:#0050c9;}

/*    注册账号1        */
.entirety .zc{ width:1198px; height:358px; margin:auto; border:1px solid #d7d7d7; margin-top:15px;background:#ffffff;}
.entirety .zc form{margin-top:32px; position:relative;}
.entirety .zc form b{font:500 12px 微软雅黑; color:#999999;}
.entirety .zc form .zh{position:absolute; left:786px;top:12px; }
.entirety .zc form .mm{position:absolute; left:786px;top:110px; }
.entirety .zc form .qr{position:absolute; left:786px;top:158px; }
.entirety .zc form .tb{position:absolute; left:786px;top:63px; }
.entirety .zc form .gs{position:absolute; left:786px;top:158px; }
.entirety .zc form .gs{position:absolute; left:786px;top:60px; }
.entirety .zc .service_l {width: 954px;font: 500 14px 微软雅黑;color: #010101; margin: 8px 0;text-align: right;}
.entirety .zc .service_l input {width: 225px;height: 37px; line-height:37px;border: 1px solid #ccc;margin-left: 20px;font-size: 14px;color: #010101;margin-right: 185px;padding-left: 10px;}
.entirety .zc .service_x {font: 500 14px 微软雅黑;color: #010101;margin: 8px 0;padding-left:470px; position:relative;}
.entirety .zc .service_x input {width: 156px;height: 37px; line-height:37px;border: 1px solid #ccc;margin-left: 20px;font-size: 14px;color: #010101;padding-left: 10px;}
.entirety .zc .service_x .fj{margin-left:10px;}
.entirety .zc .service_x img{position:absolute; top:0;left:705px;}
.entirety .zc .service_b { margin-left:531px;padding-top: 15px; }
.entirety .zc .service_b input {width: 237px;height: 41px;font:500 16px 微软雅黑;color: #fff;border: 0;cursor: pointer;background:#15b6b4;border-radius: 4px 4px 4px 4px;}
.entirety .zc .service_tex{ padding-left:555px;font: 500 14px 微软雅黑;color: #010101; padding-top:14px; padding-bottom:7px; position:relative; }
.entirety .zc .service_tex input{ width:15px; height:15px; top:14px;left:528px; position:absolute;}

/*    注册账号2        */
.entirety .zc .service_c input {width: 156px;height: 37px; line-height:37px;border: 1px solid #ccc;margin-left: 20px;font-size: 14px;color: #010101;padding-left: 10px;}
.entirety .zc .service_c {font: 500 14px 微软雅黑;color: #010101;margin: 8px 0;padding-left:443px; position:relative;}
.entirety .zc .service_c a {margin-left: 10px;padding: 0;width: 105px;height: 41px;background: #f2f2f2;font:500 14px 微软雅黑;margin-top: 0;text-align: center;line-height: 41px;color: #999999;text-decoration: none;display: inline-block;}
.entirety .zc .service_c .fj a{margin-left:20px; width:88px; height:25px; line-height:25px;}
.entirety .zc .service_c .xz a{width:88px; height:25px; line-height:25px; margin-right:10px; margin-left:5px;}
.entirety .zc .service_c .select{ position:absolute; left:513px; width:76px; height:23px;filter:alpha(opacity=100); -moz-opacity:0.01; opacity:0.01;}
.entirety .zc .ts{ font: 500 14px 微软雅黑; margin-top:35px; height:54px; line-height:41px; text-align:center;color: #010101; background:url(../images/tb_08.png) no-repeat; background-position:448px 0; padding-left:102px;}
.entirety .zc .service_y {text-align: center;padding-top: 34px; padding-left:113px;}
.entirety .zc .service_y input {width: 118px;height: 40px;font:500 16px 微软雅黑;color: #fff;border: 0;cursor: pointer; margin-right:5px;}
.entirety .zc .service_y .next{background: #15b6b4; border-radius:4px;}
.entirety .zc .service_y .last_step{background:#d7d7d7;border-radius:4px;}

/*   注册账号4           */
.entirety .zc .z1{ width:426px; height:55px; margin-left:384px; margin-top:72px;}
.entirety .zc .z1 .left{width:65px; height:55px; background:url(../images/tb.png) no-repeat; background-position:-433px -593px; float:left;} 
.entirety .zc .z1 .right{float:left; margin-left:15px;}
.entirety .zc .z1 .right p{ font:500 16px 微软雅黑; margin-bottom:5px;color:#232323}
.entirety .zc .z2 { margin-left:338px; margin-top:25px;}
.entirety .zc .z2 p{ font:500 14px 微软雅黑; color:#999999; line-height:25px; }
.entirety .zc .z3{ padding-left:409px; margin-top:50px; position:relative;}
.entirety .zc .z3 .t{ width:398px; height:40px; background:url(../images/tb.png) no-repeat; background-position:-7px -593px;}
.entirety .zc .z3 .tt span{font:500 12px 微软雅黑; color:#999999;}
.entirety .zc .z3 .tt .time{position:absolute; top:46px; left:382px;}
.entirety .zc .z3 .tt .middle{position:absolute; top:46px; left:577px;}
.entirety .zc .z3 .tt .result{position:absolute; top:46px; left:744px;}

/*    审核失败页5        */
.entirety .audit{ width:1198px; height:350px; border:1px solid #d7d7d7; margin:auto; margin-top:15px;background:#ffffff; position:relative;}
.entirety .audit .ts{width:528px; height:55px; margin-left:328px; margin-top:72px;}
.entirety .audit .ts .left{width:65px; height:55px; background:url(../images/tb.png) no-repeat; background-position:-433px -665px; float:left;}
.entirety .audit .ts .right{float:left; margin-left:15px;}
.entirety .audit .ts .right p{ font:500 16px 微软雅黑; margin-bottom:5px;color:#232323}
.entirety .audit .ts .right p a{color:#0050c9;}
.entirety .audit .tt{font:500 14px 微软雅黑;color: #999999; padding-left:395px; margin-top:26px;}
.entirety .audit .td{ position:absolute; top:152px; left:511px;}
.entirety .audit .td ul li{font:500 14px 微软雅黑;color: #999999; height:23px; line-height:23px;}

/*    审核成功6        */
.entirety .audit .tn{width:528px; height:55px; margin-left:404px; margin-top:87px;}
.entirety .audit .tn .left{width:65px; height:55px; background:url(../images/tb.png) no-repeat; background-position:-549px -665px; float:left;}
.entirety .audit .tn .right{float:left; margin-left:15px;}
.entirety .audit .tn .right p{ font:500 16px 微软雅黑; margin-bottom:5px;color:#232323}
.entirety .audit .tn .right p a{color:#0050c9;}

/*  功能主页        */
.entirety .t3{width:100%; margin:auto; height:40px; background:#15b6b4;}
.entirety .t3 .nav{width:1200px; height:40px; margin:auto;}
.entirety .t3 .nav ul .color{background:#0d9a98;}
.entirety .t3 .nav ul li{float:left; line-height:40px; }
.entirety .t3 .nav ul li a{ font:500 14px 微软雅黑;color:#ffffff;padding:10px 20px; display:block}
.entirety .t3 .navs{width:1200px; margin:auto; height:36px; background:#f4f4f4;}
.entirety .t3 .navs ul li{float:left; line-height:36px;}
.entirety .t3 .navs ul li a{font:500 12px 微软雅黑; color:#999999; padding:0 20px;}
.entirety .t4{ width:1200px; margin:auto; height:177px; margin-top:18px; margin-bottom:15px;}
.entirety .t4 .left{float:left; width:215px; height:175px; border:1px solid #e4e4e4;}
.entirety .t4 .left .tx{text-align:center; padding:12px 0;}
.entirety .t4 .left .tm {width:198px; margin:auto;border-top:1px solid #e4e4e4;}
.entirety .t4 .left .tm p{ font:500 12px 微软雅黑; color:#666666;line-height: 30px;height: 22px; }
.entirety .t4 .right{float:right; width:964px; height:175px; border:1px solid #e4e4e4;position:relative;}
.entirety .t4 .right .money{ width:964px; margin-top:60px; margin-left:20px;}
.entirety .t4 .right .balance{ font:500 14px 微软雅黑; color:#999999;}
.entirety .t4 .right .how{ padding-top:3px; }
.entirety .t4 .right .how span{font:500 16px 微软雅黑; color:#828282; margin-left:10px; margin-right:10px;}
.entirety .t4 .right .how em{font:bold 24px 微软雅黑; color:#696969;}
.entirety .t4 .right .how a{ font:500 12px 微软雅黑; color:#2272c8;}
.entirety .t4 .right .how span a{ padding:7px 24px;background:#f2f2f2;font:500 14px 微软雅黑; color:#424242; border:1px solid #dadada; margin-right:10px; }
.entirety .tab{width:1200px; margin:auto; }
.entirety .tab .tabs{height:50px; background:#f4f4f4; border:1px solid #e4e4e4;}
.entirety .tab .tabs li{ float:left;font:500 14px 微软雅黑;width:112px; height:50px; line-height:50px; text-align:center; border-right:1px solid #e4e4e4; }
.tabs li{background: #f4f4f4;overflow: hidden;}
.tabs li a {display: block;outline: none; color:#bbbbbb;}	
.tabs .thistab,.tabs .thistab a:hover{background: #ffffff; color:#8b8b8b; }
.tabs .thistab,.tabs .thistab a:visited {color:#8b8b8b;}
.entirety .tab .seek{ width:1200px; height:81px; position:relative;margin-top:19px;}
.entirety .tab .seek .p1{ margin-left:12px;}
.entirety .tab .seek .p2{margin-top:10px;}
.entirety .tab .seek .p1 .dh input{ width:201px; height:24px; margin-left:6px; line-height:24px;}
.entirety .tab .seek .p1 .d_h input{ width:201px; height:24px; margin-left:6px; line-height:24px;}
.entirety .tab .seek .p1 .d_h{ padding-left:13px;}
.entirety .tab .seek .p1 .sj{padding-left:35px;}
.entirety .tab .seek .p1 .sj input{width:92px; height:24px; line-height:24px}
.entirety .tab .seek .p1 .s_j input{width:92px; height:24px; line-height:24px;}
.entirety .tab .seek .p1 .mj{padding-left:35px;}
.entirety .tab .seek .p1 .mj input{width:201px; height:24px;  margin-left:6px; line-height:24px;}
.entirety .tab .seek .p1 .m_j{padding-left:24px;}
.entirety .tab .seek .p1 .m_j input{width:201px; height:24px;  margin-left:6px; line-height:24px;}
.entirety .tab .seek .p2 .yw input{ width:201px; height:24px; margin-left:6px; line-height:24px;}
.entirety .tab .seek .p2 .y_w select{width:206px; height:30px;  margin-left:6px; line-height:24px; padding-top:5px; padding-bottom:5px;}
.entirety .tab .seek .p2 .je{padding-left:35px;}
.entirety .tab .seek .p2 .je input{width:92px; height:24px; line-height:24px;}
.entirety .tab .seek .p2 .j__e{padding-left:26px;}
.entirety .tab .seek .p2 .j__e input{width:92px; height:24px; line-height:24px;}
.entirety .tab .seek .p2 .j_e input{width:92px; height:24px; line-height:24px;}
.entirety .tab .seek .p2 .lb{padding-left:11px;}
.entirety .tab .seek .p2 .lb select{width:206px; height:30px;  margin-left:6px;}
.entirety .tab .seek .p2 .l_b select{width:206px; height:30px;  margin-left:6px; line-height:30px; padding-top:5px; padding-bottom:5px;}
.entirety .tab .seek .p2 .query{ width:102px; height:30px; background:#f48c47; border:0; font:500 14px 微软雅黑; color:#ffffff; position:absolute; top:39px; right:200px; cursor: pointer;}
.entirety .tab .seek p span{font:500 12px 微软雅黑; color:#404040;}
.entirety .tab .seek p span b{ color:#a8a8a8; margin-left:3px; margin-right:3px;}
.entirety .tab .classify{ width:1200px; height:40px; background:#f4f4f4; border-bottom:1px solid #e4e4e4; position:relative;}
.entirety .tab .classify span{font:bold 12px 微软雅黑; color:#8a8a8a;line-height:40px;}
.entirety .tab .classify .dh{margin-left:9px;}
.entirety .tab .classify .d_h{margin-left:9px;}
.entirety .tab .classify .sj{position:absolute; top:0px; left:162px;}
.entirety .tab .classify .s_j{position:absolute; top:0; left:193px;}
.entirety .tab .classify .s__j{position:absolute; top:0; left:163px;}
.entirety .tab .classify .mj{position:absolute; top:0; left:365px;}
.entirety .tab .classify .m_j{position:absolute; top:0; left:395px;}
.entirety .tab .classify .je{  position:absolute; top:0; left:598px;}
.entirety .tab .classify .j_e{ position:absolute; top:0; left:632px;}
.entirety .tab .classify .j__e{  position:absolute; top:0; left:396px;}
.entirety .tab .classify .ye{ position:absolute; top:0; left:588px;}
.entirety .tab .classify .yw{ position:absolute; left:861px;top:0;}
.entirety .tab .classify .y_w{ position:absolute; left:775px;top:0;}
.entirety .tab .classify .l_b{position:absolute; top:0; left:896px;}
.entirety .tab .classify .b_z{  position:absolute; top:0; left:1022px;}
.entirety .tab .classify .b__z{position:absolute; top:0; left:1034px;}
.entirety .tab .classify .cz{ position:absolute; top:0; left:1041px;}
.entirety .tab .classify .c_z{position:absolute; top:0; left:808px;}
.entirety .tab .content{ width:1200px; height:53px; padding:0; line-height:53px; position:relative;}
.entirety .tab .content span{font:500 12px 微软雅黑; color:#999999;}
.entirety .tab .content .dh,.entirety .tab .content .d_h{position:absolute; top:19px; left:9px; cursor: pointer; }
.entirety .tab .content .odd{position:absolute; top:19px; left:9px; cursor: pointer; color:#08c;}
.entirety .tab .content .odds{position:absolute; top:19px; left:9px; cursor: pointer; color:#08c;}
.entirety .tab .content .cc{position:absolute; top:19px; left:9px; cursor: pointer; color:#08c;}
.entirety .tab .content .qb{position:absolute; top:19px; left:9px;}
.entirety .tab .content .sj{ position:absolute; top:19px; left:162px;}
.entirety .tab .content .s_j{position:absolute; top:19px; left:193px;}
.entirety .tab .content .s__j{position:absolute; top:19px; left:163px;}
.entirety .tab .content .mj{ position:absolute; top:19px; left:365px;}
.entirety .tab .content .m_j{position:absolute; top:19px; left:395px;}
.entirety .tab .content .je{  position:absolute; top:19px; left:598px;}
.entirety .tab .content .j_e{ position:absolute; top:19px; left:632px;}
.entirety .tab .content .j__e{ position:absolute; top:19px; left:396px;}
.entirety .tab .content .ye{ position:absolute; top:19px; left:588px;}
.entirety .tab .content .c_z{position:absolute; top:19px; left:808px;}
.entirety .tab .content .xm{position:absolute; left:861px;top:9px;}
.entirety .tab .content .x_m{position:absolute; left:775px;top:9px;}
.entirety .tab .content .phone{position:absolute; left:861px;top:27px;}
.entirety .tab .content .p_phone{position:absolute; left:775px;top:27px;}
.entirety .tab .content .l_b{position:absolute; top:19px; left:896px;}
.entirety .tab .content .b_z{ position:absolute; top:19px; left:1022px;}
.entirety .tab .content .b__z{ position:absolute; top:19px; left:1034px;}
.entirety .tab .content .fk{ position:absolute; top:19px; left:1041px;}
.entirety .tab .content .fk a{ padding:5px 12.5px; background:#f2f2f2; border:1px solid #bbbbbb; color:#bbbbbb;}
.entirety .tab .content .jf{position:absolute; top:19px; left:1097px;}
.entirety .tab .content .jf a{ padding:5px 12.5px; background:#f2f2f2; border:1px solid #bbbbbb; color:#bbbbbb;}
.entirety .tab .below{ width:1200px; margin-top:10px; border-top:1px solid #bebebe; position:relative;}
.entirety .tab .below .left{width:250px; height:27px; float:left; margin-top:13px;}
.entirety .tab .below .left .dq{padding:5.5px 11px; background:#f2f2f2;font:500 14px 微软雅黑; color:#424242; border:1px solid #dadada; }
.entirety .tab .below .left .qb{padding:5.5px 21px; background:#f2f2f2; font:500 14px 微软雅黑; color:#424242; border:1px solid #dadada;}
.entirety .tab .below .right{float:right; padding-right:70px; margin-top:8px;}
.entirety .tab .below .right span{font:500 12px 微软雅黑; color:#010101;}
.entirety .tab .below .right span input{width:27px; height:19px; line-height:19px; text-align:center; margin:0 5px;}
.entirety .tab .below .right select{ width:38px; height:25px; border-color:#bebebe; line-height:25px; padding-top:2px; padding-bottom:2px;}
.entirety .tab .below .right a{ width:24px; height:24px; border:1px solid #bebebe; }
.entirety .tab .below .right .le{position:absolute; top:8px; right:32px; background:url(../images/left_03.jpg) no-repeat;}
.entirety .tab .below .right .ri{position:absolute; top:8px; right:0; background:url(../images/right_05.jpg) no-repeat;}
.entirety .tab .copyright{font:500 12px 微软雅黑;text-align:center; color:#7c7c7c; padding-top:105px; padding-bottom:40px;}


/*    付款       */
.entirety .tl{ width:955px;margin:auto; height:30px; font:500 12px 微软雅黑;  line-height:30px; }
.entirety .tl p{padding-left:15px;}
.entirety .tl b{ padding:0 10px;}
.entirety .headline{ width:1198px;font:500 20px 微软雅黑; height:48px; line-height:50px; margin:auto; background:#f6f6f6; color:#232323; border:1px solid #bfbfbf; border-bottom:0; margin-top:15px;}
.entirety .headline span{padding-left:15px;}
.entirety .information{width:953px; height:146px; margin:auto; background:#e7eef8; border:1px solid #bfbfbf; display: none;}
.entirety .information .one{ font:500 12px 微软雅黑; height:40px; line-height:40px;}
.entirety .information .one span{color:#8b8b8b;}
.entirety .information .one .mj{padding-left:22px;}
.entirety .information .one .lx{padding-left:43px;}
.entirety .information .one .phone{padding-left:51px;}
.entirety .information .one .dh{padding-left:538px;}
.entirety .information .two{width:1166px; height:31px; background:#f2f2f2; margin:auto; border-bottom:1px solid #e4e4e4; font:bold 12px 微软雅黑; line-height:31px;}
.entirety .information .two span{color:#656565;}
.entirety .information .two .dh{ padding-left:10px;}
.entirety .information .two .pm{ padding-left:165px;}
.entirety .information .two .gg{ padding-left:61px;}
.entirety .information .two .cz{ padding-left:51px;}
.entirety .information .two .jh{ padding-left:87px;}
.entirety .information .two .dj{ padding-left:255px;}
.entirety .information .two .dg{ padding-left:53px;}
.entirety .information .two .je{ padding-left:71px;}
.entirety .information .three{ width:1166px; height:31px; background:#ffffff; margin:auto;font:500 12px 微软雅黑; position:relative;}
.entirety .information .three span{color:#999999;}
.entirety .information .three .dh{ position:absolute; top:8px; left:10px; }
.entirety .information .three .pm{position:absolute; top:8px; left:213px;}
.entirety .information .three .gg{position:absolute; top:8px; left:302px; }
.entirety .information .three .cz{position:absolute; top:8px; left:383px; }
.entirety .information .three .jh{position:absolute; top:8px; left:498px; }
.entirety .information .three .dj{position:absolute; top:8px; left:793px; }
.entirety .information .three .dg{position:absolute; top:8px; left:930px; }
.entirety .information .three .je{position:absolute; top:8px; left:1078px;color: #ff6600; }
.entirety .information .four{ float:right;font:bold 12px 微软雅黑; line-height:40px; padding-right:17px;}
.entirety .information .four em{ font-size:14px;color:#ff6600;}
.entirety .informations{width:953px; height:146px; margin:auto; background:#e7eef8; border:1px solid #bfbfbf; display: none;}
.entirety .informations .one{ font:500 12px 微软雅黑; height:40px; line-height:40px;}
.entirety .informations .one span{color:#8b8b8b;}
.entirety .informations .one .mj{padding-left:22px;}
.entirety .informations .one .lx{padding-left:43px;}
.entirety .informations .one .phone{padding-left:51px;}
.entirety .informations .one .dh{padding-left:538px;}
.entirety .informations .two{width:1166px; height:31px; background:#f2f2f2; margin:auto; border-bottom:1px solid #e4e4e4; font:bold 12px 微软雅黑; line-height:31px;}
.entirety .informations .two span{color:#656565;}
.entirety .informations .two .d_h{ padding-left:10px;}
.entirety .informations .two .pm{ padding-left:165px;}
.entirety .informations .two .gg{ padding-left:61px;}
.entirety .informations .two .cz{ padding-left:51px;}
.entirety .informations .two .jh{ padding-left:87px;}
.entirety .informations .two .dj{ padding-left:255px;}
.entirety .informations .two .dg{ padding-left:53px;}
.entirety .informations .two .je{ padding-left:71px;}
.entirety .informations .three{ width:1166px; height:31px; background:#ffffff; margin:auto;font:500 12px 微软雅黑; position:relative;}
.entirety .informations .three span{color:#999999;}
.entirety .informations .three .d_h{ position:absolute; top:8px; left:10px; }
.entirety .informations .three .pm{position:absolute; top:8px; left:213px;}
.entirety .informations .three .gg{position:absolute; top:8px; left:302px; }
.entirety .informations .three .cz{position:absolute; top:8px; left:383px; }
.entirety .informations .three .jh{position:absolute; top:8px; left:498px; }
.entirety .informations .three .dj{position:absolute; top:8px; left:793px; }
.entirety .informations .three .dg{position:absolute; top:8px; left:930px; }
.entirety .informations .three .je{position:absolute; top:8px; left:1078px;color: #ff6600; }
.entirety .informations .four{ float:right;font:bold 12px 微软雅黑; line-height:40px; padding-right:17px;}
.entirety .informations .four em{ font-size:14px;color:#ff6600;}
.entirety .informationss{width:953px; height:146px; margin:auto; background:#e7eef8; border:1px solid #bfbfbf; display: none;}
.entirety .informationss .one{ font:500 12px 微软雅黑; height:40px; line-height:40px;}
.entirety .informationss .one span{color:#8b8b8b;}
.entirety .informationss .one .mj{padding-left:22px;}
.entirety .informationss .one .lx{padding-left:43px;}
.entirety .informationss .one .phone{padding-left:51px;}
.entirety .informationss .one .dh{padding-left:538px;}
.entirety .informationss .two{width:1166px; height:31px; background:#f2f2f2; margin:auto; border-bottom:1px solid #e4e4e4; font:bold 12px 微软雅黑; line-height:31px;}
.entirety .informationss .two span{color:#656565;}
.entirety .informationss .two .d_h{ padding-left:10px;}
.entirety .informationss .two .pm{ padding-left:165px;}
.entirety .informationss .two .gg{ padding-left:61px;}
.entirety .informationss .two .cz{ padding-left:51px;}
.entirety .informationss .two .jh{ padding-left:87px;}
.entirety .informationss .two .dj{ padding-left:255px;}
.entirety .informationss .two .dg{ padding-left:53px;}
.entirety .informationss .two .je{ padding-left:71px;}
.entirety .informationss .three{ width:1166px; height:31px; background:#ffffff; margin:auto;font:500 12px 微软雅黑; position:relative;}
.entirety .informationss .three span{color:#999999;}
.entirety .informationss .three .d_h{ position:absolute; top:8px; left:10px; }
.entirety .informationss .three .pm{position:absolute; top:8px; left:213px;}
.entirety .informationss .three .gg{position:absolute; top:8px; left:302px; }
.entirety .informationss .three .cz{position:absolute; top:8px; left:383px; }
.entirety .informationss .three .jh{position:absolute; top:8px; left:498px; }
.entirety .informationss .three .dj{position:absolute; top:8px; left:793px; }
.entirety .informationss .three .dg{position:absolute; top:8px; left:930px; }
.entirety .informationss .three .je{position:absolute; top:8px; left:1078px;color: #ff6600; }
.entirety .informationss .four{ float:right;font:bold 12px 微软雅黑; line-height:40px; padding-right:17px;}
.entirety .informationss .four em{ font-size:14px;color:#ff6600;}
.entirety .particular{width:1198px; height:146px; margin:auto; background:#e7eef8; border:1px solid #bfbfbf;}
.entirety .particular .one{ font:500 12px 微软雅黑; height:40px; line-height:40px;}
.entirety .particular .one span{color:#8b8b8b;}
.entirety .particular .one .mj{padding-left:22px;}
.entirety .particular .one .lx{padding-left:43px;}
.entirety .particular .one .phone{padding-left:51px;}
.entirety .particular .one .dh{padding-left:538px;}
.entirety .particular .two{width:1166px; height:31px; background:#f2f2f2; margin:auto; border-bottom:1px solid #e4e4e4; font:bold 12px 微软雅黑; line-height:31px;}
.entirety .particular .two span{color:#656565;}
.entirety .particular .two .dh{ padding-left:10px;}
.entirety .particular .two .pm{ padding-left:165px;}
.entirety .particular .two .gg{ padding-left:61px;}
.entirety .particular .two .cz{ padding-left:51px;}
.entirety .particular .two .jh{ padding-left:87px;}
.entirety .particular .two .dj{ padding-left:255px;}
.entirety .particular .two .dg{ padding-left:53px;}
.entirety .particular .two .je{ padding-left:71px;}
.entirety .particular .three{ width:1166px; height:31px; background:#ffffff; margin:auto;font:500 12px 微软雅黑; position:relative;}
.entirety .particular .three span{color:#999999;}
.entirety .particular .three .dh{ position:absolute; top:8px; left:10px; }
.entirety .particular .three .pm{position:absolute; top:8px; left:213px;}
.entirety .particular .three .gg{position:absolute; top:8px; left:302px; }
.entirety .particular .three .cz{position:absolute; top:8px; left:383px; }
.entirety .particular .three .jh{position:absolute; top:8px; left:498px; }
.entirety .particular .three .dj{position:absolute; top:8px; left:793px; }
.entirety .particular .three .dg{position:absolute; top:8px; left:930px; }
.entirety .particular .three .je{position:absolute; top:8px; left:1078px;color: #ff6600; }
.entirety .particular .four{ float:right;font:bold 12px 微软雅黑; line-height:40px; padding-right:17px;}
.entirety .particular .four em{ font-size:14px;color:#ff6600;}
.entirety .option{ width:1198px; height:50px; border:1px dashed #bfbfbf; margin:auto; margin-top:18px; position:relative;}
.entirety .option .right{font-size:14px; top:0;right:15px; position:absolute;}
.entirety .option span{font:500 12px 微软雅黑; color:#010101; line-height:50px;}
.entirety .option .one{position:absolute;top:16px;left:20px;}
.entirety .option .ye{padding-left:42px;}
.entirety .option .two{position:absolute;top:16px;left:232px;}
.entirety .option .wy{padding-left:50px;}
.entirety .option span em{color:#ff6600;}
.entirety .password{width:1200px; margin:auto; height:40px; padding:20px 0 28px 0;}
.entirety .password span{ font:bold 15px 微软雅黑; color:#404040; padding-left:22px;}
.entirety .password input{ width:200px; height:31px; line-height:31px;border: 1px solid #ff6600;}
.entirety .password input:focus{  outline:solid 1px #ff6600;}
.entirety .password em{font:500 12px 微软雅黑; color:#adabab; margin-left:15px;}
.entirety .password a{font:500 12px 微软雅黑; color:#15b6b4;}
.entirety .button{width:1200px; margin:auto; height:38px;}
.entirety .button .pay{width:150px; height:38px; background:#15b6b4; border:0;font:500 18px 微软雅黑; color:#ffffff; margin-left:22px; border-radius:4px; }
.entirety .copyright{font:500 12px 微软雅黑;text-align:center; color:#7c7c7c; padding-top:105px; padding-bottom:40px;}

/*    充值   提现        */
.entirety .deal{width:1198px;margin:auto; height:330px;  border:1px solid #bfbfbf;}
.entirety .deal .sum{ font:500 15px 微软雅黑; color:#404040; padding:22px 0 31px 12px;}
.entirety .deal .sum input{ width:200px; height:31px; line-height:31px;}
.entirety .deal .ye{font-size:13px; color:#000000; padding-left:16px;}
.entirety .deal .ye em{ color:#ff0000;}
.entirety .deal .bank{font:500 15px 微软雅黑; color:#404040; padding-left:12px;}
.entirety .next{width:363px; margin:auto;}
.entirety .next input{width:150px; height:38px; background:#15b6b4; border:0; font:500 18px 微软雅黑; color:#ffffff; border-radius:4px; }

/*       对公账户       */
.entirety .account{width:1200px; margin:auto; padding-top:15px;}
.entirety .account .left{ width:150px;height:355px; background:#f3f3f3; float:left; margin-right:10px;}
.entirety .account .left ul{padding-top:20px;}
.entirety .account .left ul .discolor{background:#ffffff; border-left:2px solid #15b6b4; color:#15b6b4;}
.entirety .account .left ul li{font:500 12px 微软雅黑; height:44px; line-height:44px; text-align:center;}
.entirety .account .left ul li a{color:#424242;display: block;width: 150px;height: 44px;}
.entirety .account .right{float:left; }
.entirety .account .right .add a{ padding:5px 22px; background:#15b6b4; border:0; font:500 14px 微软雅黑; color:#ffffff; line-height:29px; text-align:center; border-radius:4px;}
.entirety .account .right .add input{  width: 97px;height: 29px;background: #15b6b4;border: 0;font: 500 14px 微软雅黑;color: #ffffff;}
.entirety .account .right .classify{width:1040px; height:40px; background:#f4f4f4; margin-top:16px; position:relative;}
.entirety .account .right .classify span{font: bold 12px 微软雅黑;color: #8b8b8b;line-height: 40px;}
.entirety .account .right .classify .yh{position:absolute; left:16px;}
.entirety .account .right .classify .zh{position:absolute; left:240px;}
.entirety .account .right .classify .username{position:absolute; left:515px;}
.entirety .account .right .classify .cz{position:absolute; left:900px;}
.entirety .account .right .detail{width:1040px; height:53px; position:relative;}
.entirety .account .right .detail span{font: 500 12px 微软雅黑;color: #000000;line-height: 53px;}
.entirety .account .right .detail .yh{position:absolute; left:16px;}
.entirety .account .right .detail .zh{position:absolute; left:240px;}
.entirety .account .right .detail .username{position:absolute; left:510px;}
.entirety .account .right .detail .cz{position:absolute; left:900px;}
.entirety .account .right .detail .cz .sc{ padding:6px 13.5px; background:#15b6b4; color:#ffffff;}
.entirety .account .right .detail .cz .mr{ padding:6px 6.5px; background:#e4e2e2; color:#bbbbbb; margin-left:5px;}
.entirety .account .right .detail .cz .sw{ padding:6px 6.5px; background:#15b6b4; color:#ffffff; margin-left:5px;}
.entirety .below{ width:1040px; border-top:1px solid #bebebe; position:relative;}
.entirety .account .right .below .right{float:right; padding-right:70px; margin-top:8px;}
.entirety .account .right .below .right span{font:500 12px 微软雅黑; color:#010101;}
.entirety .account .right .below .right span input{width:27px; height:19px; line-height:19px; text-align:center; margin:0 5px;}
.entirety .account .right .below .right select{ width:38px; height:25px; border-color:#bebebe; line-height:25px; padding-top:2px; padding-bottom:2px;}
.entirety .account .right .below .right a{ width:24px; height:24px; border:1px solid #bebebe; }
.entirety .account .right .below .right .le{position:absolute; top:8px; right:32px; background:url(../images/left_03.jpg) no-repeat;}
.entirety .account .right .below .right .ri{position:absolute; top:8px; right:0; background:url(../images/right_05.jpg) no-repeat;}

/*       授权码       */
.entirety .account .right .add span{padding-left:532px;font: 500 12px 微软雅黑;color: #000000; }
.entirety .account .right .add span select{ width:95px; height:29px; text-align:center; margin:0 10px; padding:5px ;}
.entirety .account .right .classify .sq{position:absolute; left:16px;}
.entirety .account .right .classify .fs{position:absolute; left:127px;}
.entirety .account .right .classify .ky{position:absolute; left:205px;}
.entirety .account .right .classify .ks{position:absolute; left:300px;}
.entirety .account .right .classify .js{position:absolute; left:490px;}
.entirety .account .right .classify .yy{position:absolute; left:667px;}
.entirety .account .right .classify .remark{position:absolute; left:785px;}
.entirety .account .right .classify .operation{position:absolute; left:957px;}
.entirety .account .right .detail .sq{position:absolute; left:16px;}
.entirety .account .right .detail .fs{position:absolute; left:127px;}
.entirety .account .right .detail .ky{position:absolute; left:205px;}
.entirety .account .right .detail .ks{position:absolute; left:300px;}
.entirety .account .right .detail .js{position:absolute; left:490px;}
.entirety .account .right .detail .yy{position:absolute; left:667px;}
.entirety .account .right .detail .remark{position:absolute; left:785px;}
.entirety .account .right .detail .operation{position:absolute; left:957px;}
.entirety .account .right .detail .operation a{ color:#2272c8;}

/*       授权码查看       */
.entirety .account .right .classify .dh{position:absolute; left:8px;}
.entirety .account .right .classify .s_j{position:absolute; left:160px;}
.entirety .account .right .classify .m_j{position:absolute; left:332px;}
.entirety .account .right .classify .j_e{position:absolute; left:545px;}
.entirety .account .right .classify .y_w{position:absolute; left:662px;}
.entirety .account .right .classify .l_b{position:absolute; left:788px;}
.entirety .account .right .classify .b_z{position:absolute; left:918px;}
.entirety .account .right .contents {width:1040px; height:53px; padding:0; line-height:53px; position:relative;}
.entirety .account .right .contents span{font:500 12px 微软雅黑; color:#424242;}
.entirety .account .right .contents .dh{position:absolute; top:19px; left:8px;}
.entirety .account .right .contents .s_j{position:absolute; top:19px; left:160px;}
.entirety .account .right .contents .m_j{position:absolute; top:19px; left:332px;}
.entirety .account .right .contents .j_e{position:absolute; top:19px; left:545px;}
.entirety .account .right .contents .y_w{position:absolute; top:19px; left:662px;}
.entirety .account .right .contents .l_b{position:absolute; top:19px; left:788px;}
.entirety .account .right .contents .b_z{position:absolute; top:19px; left:918px;}
.entirety .account .right .contents .x_m{position:absolute; left:662px;top:9px;}
.entirety .account .right .contents .p_phone{position:absolute; left:662px;top:27px;}
.entirety .account .right .information{width:872px; height:146px; margin:auto; background:#ccdfef; border:1px solid #bfbfbf;}
.entirety .account .right .information .one{ font:bold 12px 微软雅黑; height:40px; line-height:40px;}
.entirety .account .right .information .one span{color:#000000;}
.entirety .account .right .information .one .mj{padding-left:22px;}
.entirety .account .right .information .one .lx{padding-left:43px;}
.entirety .account .right .information .one .phone{padding-left:51px;}
.entirety .account .right .information .one .dh{padding-left:48px;}
.entirety .account .right .information .two{width:858px; height:31px; background:#efefef; margin:auto; border-bottom:1px solid #e4e4e4; font:bold 12px 微软雅黑; line-height:31px;}
.entirety .account .right .information .two span{color:#424242;}
.entirety .account .right .information .two .dh{ padding-left:10px;}
.entirety .account .right .information .two .pm{ padding-left:95px;}
.entirety .account .right .information .two .gg{ padding-left:51px;}
.entirety .account .right .information .two .cz{ padding-left:51px;}
.entirety .account .right .information .two .jh{ padding-left:48px;}
.entirety .account .right .information .two .dj{ padding-left:122px;}
.entirety .account .right .information .two .dg{ padding-left:34px;}
.entirety .account .right .information .two .je{ padding-left:44px;}
.entirety .account .right .information .three{ width:858px; height:31px; background:#ffffff; margin:auto;font:500 12px 微软雅黑; position:relative;}
.entirety .account .right .information .three span{color:#424242;}
.entirety .account .right .information .three .dh{ position:absolute; top:8px; left:10px; }
.entirety .account .right .information .three .pm{position:absolute; top:8px; left:143px;}
.entirety .account .right .information .three .gg{position:absolute; top:8px; left:223px; }
.entirety .account .right .information .three .cz{position:absolute; top:8px; left:300px; }
.entirety .account .right .information .three .jh{position:absolute; top:8px; left:377px; }
.entirety .account .right .information .three .dj{position:absolute; top:8px; left:541px; }
.entirety .account .right .information .three .dg{position:absolute; top:8px; left:660px; }
.entirety .account .right .information .three .je{position:absolute; top:8px; left:779px; }
.entirety .account .right .information .four{ float:right;font:bold 12px 微软雅黑; line-height:40px; padding-right:13px;}
.entirety .account .right .information .four em{ font-size:14px;color:#fe0000;}
.entirety .account .right .below .left{width:250px; height:27px; float:left; margin-top:13px; background:#ffffff;}
.entirety .account .right .below .left .dq{padding:5.5px 11px; background:#f2f2f2;font:500 14px 微软雅黑; color:#424242; border:1px solid #dadada; }
.entirety .account .right .below .left .qb{padding:5.5px 21px; background:#f2f2f2; font:500 14px 微软雅黑; color:#424242; border:1px solid #dadada; }

/*       重置登陆密码       */
.entirety .account .right .reset{ width:1038px; height:352px; border:1px solid #d7d7d7;}
.entirety .account .right .reset form{ padding-top:46px;}
.entirety .account .right .reset .service_l {width: 840px;font: 500 14px 微软雅黑;color: #010101; margin: 18px 0;text-align: right; position:relative;}
.entirety .account .right .reset .service_l input {width: 225px;height: 37px; line-height:37px;border: 1px solid #ccc;margin-left: 20px;font-size: 14px;color: #010101;margin-right: 185px;padding-left: 10px;}
.entirety .account .right .reset .service_l a{position:absolute; top:12px; left:663px;font: 500 12px 微软雅黑;color: #010101;}
.entirety .account .right .reset .service_b {padding-top: 10px; padding-left:418px; }
.entirety .account .right .reset .service_b input {width: 104px;height: 41px;font:500 16px 微软雅黑;color: #fff;border: 0;cursor: pointer;background:#15b6b4; border-radius:4px;}
.entirety .account .right .reset .hint{margin-top:100px;}
.entirety .account .right .reset .hint .hint_tb{ padding-left:350px;}
.entirety .account .right .reset .hint .hint_tb img {float:left;}
.entirety .account .right .reset .hint .hint_tb span{ font:500 18px 微软雅黑; color:#404040; float:left; line-height:54px; padding-left:17px;}
.entirety .account .right .reset .hint .hint_lj { padding-left:442px; margin-top:20px;} 
.entirety .account .right .reset .hint .hint_lj a{font:500 14px 微软雅黑; color:#2272c8; padding-right:17px;}

/*       提示重置支付密码       */
.entirety .account .right .reset .tb{text-align:center; margin-top:92px; margin-bottom:28px;}
.entirety .account .right .reset .ts{ text-align:center;font:500 18px 微软雅黑;color: #424242;}
.entirety .account .right .reset .ts a{ color:#008aff;text-decoration:underline;}
.entirety .account .right .class{width:1040px; height:40px; border-bottom:1px solid #bfbfbf; background:#f4f4f4; position:relative;}
.entirety .account .right .class span{font: bold 12px 微软雅黑;color: #8b8b8b;line-height: 40px;}
.entirety .account .right .class .nr{position:absolute; left:16px;}
.entirety .account .right .class .sj{position:absolute; left:530px;}
.entirety .account .right .class .caozuo{position:absolute; left:955px;}
.entirety .account .right .detail .nr{position:absolute; left:16px;}
.entirety .account .right .detail .sj{position:absolute; left:530px;}
.entirety .account .right .detail .caozuo{position:absolute; left:955px;}
.entirety .account .right .detail .caozuo a{ color:#2272c8;}
